:root {
  --font-main: "Josefin Sans", sans-serif;
  --btest: solid 1px black;
  --color: rgb(73, 105, 153);
  --text: white;
}

html,
body {
  font-family: var(--font-main);
  font-size: 20px;
  background: white;
}

.body-container {
  padding: 0 !important;
}

.menu-container { 
  /* 1 */
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  border: var(--btest)
}
.main-container { 
  /* 2 */
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  border: var(--btest)
}
.footer-container {
  /* 3 */
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  border: var(--btest)
}

/* navbar */
#navbar {
  background-color: var(--color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  display: block;
  transition: 0.5s ease-in-out !important;
  padding: 0 auto;
}

#navbar a {
  float: left;
  display: block;
  color: var(--text);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.activenav {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidenav {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.shrinknav {
  height: 55px !important;
}
.main-logo-div {
  width: 450px;
  margin: 0 auto;
}
.iwanttohidethis {
  display: none;
}
.test {
  border: var(--btest);
}
.center-page {
  padding: 0;
}