
/* MACBOOK */
@media (max-height: 780px) and (min-width: 992px) {
  :root {
    --height: 780px;
    --font-main: "Josefin Sans", sans-serif;
    --btest: solid 1px black;
    --color: rgb(73, 105, 153);
    --colorlight: rgb(212, 212, 218);
    --colordark: #26294b;
    --colorgrey: #e6e7f7;
    --text: white;
    --textdark: black;
    --font-size: 12px;
    --font-size-menu: 14px;
    --font-size-textcarousel: 25px;
    --font-size-cards-before: 22px;
    --font-size-card-after: 25px;
    --margin-menu: 105px;
    --margin-shrink-value: 50px;
    --carousel-height: 700px;
    --logo-size: 55px;
    --button-padding: 15px;
    /* section */
    --section-w: 400px;
    --section-padding-top: 90px;
    /* borders */
    --border-bottom-color: solid 4px var(--colordark);
    --border-bottom-white: solid 4px var(--text);
    --border-bottom-title: solid 1px var(--colordark);
    --border-input: solid 1px var(--colordark);
    --border-input-focus: solid 1px var(--color);
    --card-border-color: solid 2px var(--color);
    --inv-card-border-color: solid 2px white;
    /* Button */
    --btnb: solid 2px rgb(165, 165, 165);
    --btnback: transparent;
    --btntext: var(--text);
    --btnbh: solid 2px rgb(165, 165, 165);
    --btnbackh: rgba(255, 255, 255, 0.137);
    --btntexth: var(--text);
    /* carousel */
    --thumb-img-width: 120px;
    --thumb-img-maxheight: 80px;
    --main-img-height: 200px;
    /* Field */
    --field-height: 400px;
    /* form */
    --form-margin-bottom: 100px;
    --input-width: 250px; 
    /* footer */
    --footer-padding-top: 50px;
    --footer-padding-bottom: 100px;
  }
}
/* DESKTOP */
@media (min-width: 992px) {
  :root {
    --height: 780px;
    --font-main: "Josefin Sans", sans-serif;
    --btest: solid 1px black;
    --color: rgb(73, 105, 153);
    --colorlight: rgb(212, 212, 218);
    --colordark: #26294b;
    --colorgrey: #e6e7f7;
    --text: white;
    --textdark: black;
    --font-size: 12px;
    --font-size-menu: 14px;
    --font-size-textcarousel: 25px;
    --font-size-cards-before: 22px;
    --font-size-card-after: 25px;
    --margin-menu: 105px;
    --margin-shrink-value: 50px;
    --carousel-height: 700px;
    --logo-size: 55px;
    --button-padding: 15px;
    /* section */
    --section-w: 400px;
    --section-padding-top: 90px;
    /* borders */
    --border-bottom-color: solid 4px var(--colordark);
    --border-bottom-white: solid 4px var(--text);
    --border-bottom-title: solid 1px var(--colordark);
    --border-input: solid 1px var(--colordark);
    --border-input-focus: solid 1px var(--color);
    --card-border-color: solid 2px var(--color);
    --inv-card-border-color: solid 2px white;
    /* Button */
    --btnb: solid 2px rgb(165, 165, 165);
    --btnback: transparent;
    --btntext: var(--text);
    --btnbh: solid 2px rgb(165, 165, 165);
    --btnbackh: rgba(255, 255, 255, 0.137);
    --btntexth: var(--text);
    /* carousel */
    --thumb-img-width: 120px;
    --thumb-img-maxheight: 80px;
    --main-img-height: 200px;
    /* Field */
    --field-height: 400px;
    /* form */
    --form-margin-bottom: 100px;
    --input-width: 250px; 
    /* footer */
    --footer-padding-top: 50px;
    --footer-padding-bottom: 100px;
  }
}
/* IPAD */
@media (max-width: 991px) and (min-width: 600px) {}
/* SMARTPHONE */
@media (max-width: 600px) {}

html,
body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  background: white;
}
h1 {
  text-align: center;
  padding: 20px;
  border-bottom: var(--border-bottom-title);
}
#accueil, #activite, #equipe, #domaines, #clients, #publications, #contact {
  padding-top: var(--section-padding-top);
}

.body-container {
  padding: 0 !important;
}

.menu-container { 
  /* 1 */
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  position:fixed;
  z-index: 120;
}
.content-container { 
  /* 2 */
  width: 100% !important;
  padding: 0 auto !important;
  overflow: hidden;
  height: auto;
}
.menu-two-container, .menu-three-container, .menu-four-container, .menu-five-container, .menu-six-container, .menu-seven-container {
  margin: 0 !important;
  width: 100%;
  height: auto;
}
.footer-container {
  /* 3 */
  width: 100% !important;
  padding-top: var(--footer-padding-top);
  padding-bottom: var(--footer-padding-bottom);
  overflow: hidden;
  background-color: var(--color);
  color: var(--text);
}

/* NAVBAR */
#navbar {
  background-color: var(--color);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--margin-menu);
  display: block;
  transition: 0.5s ease-in-out !important;
  padding: 0 auto;
}

#navbar a {
  float: left;
  display: block;
  color: var(--text);
  text-align: center;
  padding: var(--button-padding);
  text-decoration: none;
  font-size: var(--font-size-menu);
  transition: 0.2s ease-in-out !important;
  border:transparent;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  border-bottom: var(--border-bottom-color)
}

.activenav {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidenav {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.shrinknav {
  height: var(--margin-shrink-value) !important;
}
.main-logo-div {
  margin: 0 auto;
  text-align: center;
}
.logo-div {
  height: var(--logo-size);
}
.iwanttohidethis {
  display: none;
}
.test {
  border: var(--btest);
}
.center-page {
  padding: 0 auto;
}

/* MAIN CONTENT */
.section-title {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  width: var(--section-w);
  margin: 0 auto;
}
.section-separation {
  height: 30px;
  margin-bottom: 20px !important;
  margin: 0 auto;
  width: calc(var(--section-w) /3);
}
.carousel-img {
  max-height: var(--carousel-height); 
  object-fit: cover;
  filter: brightness(40%);
}
.text-oncarousel {
  height: calc(var(--carousel-height) - var(--margin-menu));
  font-size: var(--font-size-textcarousel);
  margin-top: var(--margin-menu) !important;
  z-index: 1;
  color: var(--text);
  text-align: center;
  width: 100%;
  position: absolute;
}

/* CAROUSEL */
.carousel-button {
  margin-top: calc(var(--carousel-height) / 5);
  border: var(--btnb);
  background-color: var(--btnback);
  color: var(--btntext);
  border-radius: 2px;
  padding: 15px;
  font-size: var(--font-size);
  opacity: 0.6;
  transition: 0.5s ease-in-out !important;
  text-decoration: none;
}
.carousel-button:hover {
  border: var(--btnbh);
  background-color: var(--btnbackh);
  color: var(--btntexth);
  opacity: 1;
}
.carousel-text {
  margin-top: calc((var(--carousel-height)) - (var(--carousel-height) / 1.5));
}
.btn-prev, .btn-next {
  font-size: 40px;
  opacity: 0.4;
  margin-top: 100px;
  color: var(--color);
  cursor: pointer;
}
.btn-prev:hover, .btn-next:hover {
  opacity: 0.8;
}
.team-carousel-big {
  height: var(--main-img-height);
  width: 100%;
  padding: 0;
  margin: 0;
}
.team-carousel-small {
  height: var(--thumb-img-maxheight);
  cursor: pointer;
}
.team-carousel-small:hover {
  opacity: 0.7;
}
.team-carousel-thumb {
  width: var(--thumb-img-width);
}
.team-carousel-thumbs {
  width: calc(var(--thumb-img-width) * 2);
  margin: 0 auto;
}
.team-carousel-img-ppy {
  object-fit: cover;
  height: var(--main-img-height);
}
.team-carousel-img-thumb-ppy {
  object-fit: fill;
  height: var(--thumb-img-maxheight);
}

/* FIELDS */
.row-field {
  width: 100%;
  height: var(--field-height);
  display: flex;
  text-align: center;
}
/* container */
.pic-div {
  width: 100%;
  height: var(--field-height);
  padding: 0;
  position: relative;
  overflow:hidden;
}
/* div being zoomed */
.item-field {
  background: rgb(255, 255, 255);
  width: 100%;
  height: var(--field-height);
  transition: 0.5s ease;
  font-size: var(--font-size-cards-before);
  color:var(--textdark) !important;
}
.item-field:hover {
  transform: scale(1.2);
  color: var(--textdark) !important;
  font-size: var(--font-size-card-after);
}
/* picture */
.img-field {
  object-fit:cover;
  width:100%;
	max-width: 100%;
  cursor: pointer;
  filter:opacity(0.3)
}
/* text */
.text-on-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CONTACT */
.form-frame {
  border: none;
  margin-bottom: var(--form-margin-bottom);
}
.input-area {
  padding: 0 auto;
  margin: 0 auto;
}
.button-area {
  padding: 0 auto;
  margin: 0 auto;
  text-align: center;
}
.input-contact-info-name, .input-contact-info-email, .input-contact-info-reqtype, .input-contact-info-content {
  background-color: var(--text);
  border: var(--border-input);
  border-radius: 2px;
  padding: 8px;
  width: var(--input-width);
  transition: 0.5s ease-in-out;
}
.input-contact-info-name:focus, .input-contact-info-email:focus, .input-contact-info-reqtype:focus, .input-contact-info-content:focus {
  outline: none;
  background-color: var(--colorgrey);
  border: var(--border-input-focus);
}
.input-contact-info-content {
  height: 150px;
}
.send-button {
  padding: 15px;
  border-radius: 2px;
  border: solid 1px var(--colordark);
  font-size: var(--font-size-menu);
  transition: 0.2s ease-in-out;
  width: 100px;
}
.send-button:hover {
  background: var(--color);
  color: var(--text);
  border: solid 1px var(--text);
  border-radius: 2px;
}

/* FOOTER */
.footer-bottom {
  width: 10%;
  float: bottom;
  margin: 0 auto;
}
.footer-bottom a {
  color: var(--colordark);
  transition: 0.5s ease-in-out;
}
.footer-bottom a:hover {
  color: var(--text)
}

/* LOADER */
.spinner {
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  margin-top: calc(var(--height) / 3) !important;
}

/* IMAGE */
.logo-instance {
  width: 100px;
}
.side-col-img {
  overflow: hidden;
  margin-right: 50px;
}
.side-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}