
/* MACBOOK */
@media (max-height: 780px) and (min-width: 992px) {
  :root {
    --font-main: "Josefin Sans", sans-serif;
    --btest: solid 1px black;
    --color: rgb(73, 105, 153);
    --text: white;
    --font-size: 12px;
    --font-size-menu: 14px;
    --margin-menu: 105px;
    --margin-shrink-value: 50px;
    --carousel-height: 700px;
    --logo-size: 55px;
    --button-padding: 15px;
    --border-bottom-color: solid 4px rgb(38, 41, 75);
    /* Button */
    --btnb: solid 2px rgb(165, 165, 165);
    --btnback: transparent;
    --btntext: white;
    --btnbh: solid 2px rgb(165, 165, 165);
    --btnbackh: rgba(255, 255, 255, 0.137);
    --btntexth: white;
  }
}
/* DESKTOP */
@media (min-width: 992px) {}
/* IPAD */
@media (max-width: 991px) and (min-width: 600px) {}
/* SMARTPHONE */
@media (max-width: 600px) {}

html,
body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  background: white;
}
h1 {
  text-align: center;
}

.body-container {
  padding: 0 !important;
}

.menu-container { 
  /* 1 */
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
  position:fixed;
  z-index: 120;
}
.menu-two-container {
  margin: 0 auto;
  width: 100%;
}
.content-container { 
  /* 2 */
  width: 100% !important;
  padding: 0 auto !important;
  overflow: hidden;
}
.footer-container {
  /* 3 */
  width: 100% !important;
  padding-top: 50px;
  padding-bottom:40px;
  overflow: hidden;
  background-color: var(--color);
  color: var(--text);
}

/* NAVBAR */
#navbar {
  background-color: var(--color);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--margin-menu);
  display: block;
  transition: 0.5s ease-in-out !important;
  padding: 0 auto;
}

#navbar a {
  float: left;
  display: block;
  color: var(--text);
  text-align: center;
  padding: var(--button-padding);
  text-decoration: none;
  font-size: var(--font-size-menu);
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  border-bottom: var(--border-bottom-color)
}

.activenav {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidenav {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.shrinknav {
  height: var(--margin-shrink-value) !important;
}
.main-logo-div {
  margin: 0 auto;
  text-align: center;
}
.logo-div {
  height: var(--logo-size);
}
.iwanttohidethis {
  display: none;
}
.test {
  border: var(--btest);
}
.center-page {
  padding: 0 auto;
}

/* MAIN CONTENT */
.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.carousel-img {
  max-height: var(--carousel-height); 
  object-fit: cover;
  filter: brightness(40%);
}
.text-oncarousel {
  height: calc(var(--carousel-height) - var(--margin-menu));
  font-size: 25px;
  margin-top: var(--margin-menu) !important;
  z-index: 1;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
}

/* BUTTON */
.carousel-button {
  margin-top: calc(var(--carousel-height) / 3);
  border: var(--btnb);
  background-color: var(--btnback);
  color: var(--btntext);
  border-radius: 2px;
  padding: 15px;
  font-size: var(--font-size);
  opacity: 0.6;
}

.carousel-button:hover {
  border: var(--btnbh);
  background-color: var(--btnbackh);
  color: var(--btntexth);
  opacity: 1;
}
.carousel-text {
  margin-top: calc((var(--carousel-height)) - (var(--carousel-height) / 1.5));
}
.btn-prev, .btn-next {
  font-size: 40px;
  opacity: 0.4;
  margin-top: 100px;
  color: var(--color);
  cursor: pointer;
}
.btn-prev:hover, .btn-next:hover {
  opacity: 0.8;
}
.team-carousel-big {
  height:200px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.team-carousel-small {
  height: 80px;
}
.team-carousel-thumb {
  width: 150px;
}
.team-carousel-thumbs {
  width: auto;
}
.team-carousel-img-ppy {
  object-fit: cover;
  height: 200px;
}
.team-carousel-img-thumb-ppy {
  object-fit: fill;
  height: 80px;
}

/* FOOTER */
.footer-bottom {
  width: 10%;
  float: bottom;
  margin: 0 auto;
}