:root {
  --btnb: solid 2px rgb(165, 165, 165);
  --btnback: transparent;
  --btntext: white;
  --btnbh: solid 2px rgb(165, 165, 165);
  --btnbackh: rgba(255, 255, 255, 0.137);
  --btntexth: white;
  --fontsize: 12px;
}

.carousel-button {
  border: var(--btnb);
  background-color: var(--btnback);
  color: var(--btntext);
  border-radius: 2px;
  padding: 15px;
  font-size: var(--fontsize);
  opacity: 0.6;
}

.carousel-button:hover {
  border: var(--btnbh);
  background-color: var(--btnbackh);
  color: var(--btntexth);
  opacity: 1;
}